
<!doctype html>
<html lang="en" ng-app="oarsapp">
<head>
	<meta charset="UTF-8">
	<title>{{ website_title }} - {% block pagetitle %}{% endblock %}</title>

	{{ GENERATOR_META|raw }}
	
	{% block extra_headers %}
	{% endblock %}
	
	<link rel="stylesheet" href="{{ CSS_ROOT }}bootstrap.min.css" />
	

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ STATIC_ROOT }}js/bootstrap.min.js"></script>
</head>
<body>
	<div style="border-radius: 0px" class="navbar navbar-default navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
                {{ website_title }} 
			</a>
            <img style="position: absolute; right: 0px; top: 5px;" src="{{ STATIC_ROOT }}images/epi.png" alt="{{ website_title }} " />
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			{{ DROPDOWN_MENU|raw }}
		</div>
	</div>
	
	<div class="container">

	<div class="row">
	
	<div class="col-md-12">

        {% if can_edit %}
        <div style="height:100px;">This space is required by the editor</div>
        {% endif %}
        
        <!--{{ DROPDOWN_MENU|raw }}
        <hr />-->
        {% block content %}
        content goes here
        {% endblock %}		

	</div>

	</div>

	</div>
</body>
</html>