<!DOCTYPE html>
<html>
<head>
<title>{{ website_title }} - {% block pagetitle %}{% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{{ STATIC_ROOT }}css/layout.css" rel="stylesheet" type="text/css" media="all">
{{ GENERATOR_META|raw }}

{% block extra_headers %}
{% endblock %}
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{{ STATIC_ROOT }}js/featuredcontentglider.js"></script>
<script type="text/javascript">
function getBanner(){
	var images = [], 
	index = 0;
	
	images[0] = "{{ STATIC_ROOT }}images/b1.png";
	images[1] = "{{ STATIC_ROOT }}images/b2.png";
	images[2] = "{{ STATIC_ROOT }}images/b3.png";
	images[3] = "{{ STATIC_ROOT }}images/b4.png";
	images[4] = "{{ STATIC_ROOT }}images/b5.png";
	images[5] = "{{ STATIC_ROOT }}images/b6.png";
	
	index = Math.floor(Math.random() * images.length);
	//document.write(images[index]);
	document.getElementById('breadcrumb').style.backgroundImage = "url(" + images[index] + ")";
}
</script>

</head>
<body id="top" class="bgded fixed" onload="getBanner();">
<div class="shadow"> 
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="clear"> 
      <!-- ################################################################################################ -->
      <div class="fl_left">
        <ul class="nospace inline">
          <li><i class="fa fa-phone"></i> (734) 634-1576</li>
          <li><i class="fa fa-envelope-o"></i> info [at] wsbtm.com</li>
        </ul>
      </div>
      <div class="fl_right">
        <ul class="faico clear">
          <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <!--<li><a class="faicon-pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>-->
          <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <!--<li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>-->
          <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
          <!--<li><a class="faicon-rss" href="#"><i class="fa fa-rss"></i></a></li>-->
        </ul>
      </div>
      <!-- ################################################################################################ --> 
    </div>
  </div>
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><img src="{{ STATIC_ROOT }}images/logo.png"/></h1>
      </div>
      <nav id="mainav" class="fl_right"> {{ DROPDOWN_MENU|raw }} </nav>
      <!-- ################################################################################################ --> 
    </header>
  </div>
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ -->
  <div class="wrapper row2">
    <div id="breadcrumb" class="clear"> 
      <!-- ################################################################################################ -->
      <ul>
      </ul>
      <!-- ################################################################################################ --> 
    </div>
  </div>
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <main class="container clear"> 
      <!-- main body --> 
      <!-- ################################################################################################ -->
      <div class="content"> {% if can_edit %}
        <div style="height:100px;">This space is required by the editor</div>
        {% endif %} 
        
        <!--{{ DROPDOWN_MENU|raw }}
        <hr />--> 
        {% block content %}
        content goes here
        {% endblock %} </div>
      <!-- ################################################################################################ --> 
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ -->
  <div class="wrapper row4"> </div>
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ -->
  <div class="wrapper row5">
    <div id="copyright" class="clear"> 
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2015 - All Rights Reserved</p>
      <p class="fl_right"></p>
      <!-- ################################################################################################ --> 
    </div>
  </div>
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ --> 
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a> 
<!-- JAVASCRIPTS --> 
<script src="{{ STATIC_ROOT }}js/jquery.min.js"></script> 
<script src="{{ STATIC_ROOT }}js/jquery.backtotop.js"></script> 
<script src="{{ STATIC_ROOT }}js/jquery.mobilemenu.js"></script>
</body>
</html>