{% extends 'base.html' %}

{% block extra_headers %}

{% endblock %}

{% block content %}
<p><span style="font-size:large"><strong>Contact Us</strong></span></p>
{{ message }}
<form method="POST">
  <table style="width:auto;" border="0" cellpadding="5" cellspacing="5">
    <tr>
      <td style="width:219 !important;" align="center" valign="top"><p><img src="{{ STATIC_ROOT }}images/contact.jpg" width="108" height="144" /></p></td>
      <td width="494" colspan="2" rowspan="2">If you'd like to contact us for any reason, please use the form below.<strong></strong><br />
        <p> <strong>Name</strong>:
          <input type="text" name="name" size="19" />
        </p>
        <p> <strong>Email</strong>:
          <input name="email" type="text" size="35" maxlength="255" />
        </p>
        <p><span style="font-weight: bold">Message</span>:<br />
          <textarea rows="10" name="message" cols="60"></textarea>
        </p></td>
    </tr>
    <tr>
      <td width="219" align="left" valign="top"><p><strong>Address</strong>:<br />
          31157 Plymouth Rd Ste. 208, <br />
          Livonia, Michigan 48150 </p>
        <p><strong>Phone:</strong> 734-634-1576 </p></td>
    </tr>
    <tr>
      <td colspan="3" align="center" valign="top"><input type="submit" value="Submit" name="submit" />
        &nbsp;
        <input type="reset" name="reset" id="reset" value="Reset" /></td>
    </tr>
  </table>
</form>
{% endblock %}