{% extends 'events_base.html' %}

{% block extra_headers %}

<style>

.control-group textarea
{
	width: 561px;
}

</style>

<script type="text/javascript" src="{{ URL_ROOT }}lib/ckeditor/ckeditor.js"></script>

{% endblock %}

{% block content %}
<h1>Edit Event</h1>

<form method="post" enctype="multipart/form-data" class="form-horizontal">

<div class="control-group">
	<label class="control-label" for="pending">Pending</label>
	<div class="controls">
		<input id="pending" name="pending" type="checkbox" value="yes" {{ pending }} />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="featured">Featured</label>
	<div class="controls">
		<input name="featured" id="featured" type="checkbox" value="yes" {{ featured }} />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="submitter_name">Submitter Name</label>
	<div class="controls">
		<input name="submitter_name" placeholder="{{ ADMIN_USER }}" id="submitter_name" value="{{ submitter_name }}" type="text" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="submitter_phone">Submitter Phone</label>
	<div class="controls">
		<input name="submitter_phone" id="submitter_phone" value="{{ submitter_phone }}" type="text" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="submitter_email">Submitter Email</label>
	<div class="controls">
		<input name="submitter_email" id="submitter_email" value="{{ submitter_email }}" type="text" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="event_title">Event Title</label>
	<div class="controls">
		<input name="event_title" id="event_title" value="{{ event_title }}" type="text" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="caption">Caption</label>
	<div class="controls">
		<input name="caption" id="caption" value="{{ caption }}" type="text" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="image">Image</label>
	<div class="controls">
		<input name="image" id="image" type="file" />
		{% if img_loc %}
		<br/>{{ img_loc }}
		{% endif %}
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="start_date">Start Date</label>
	<div class="controls">
		<input name="start_date" id="start_date" value="{{ start_date }}" type="text" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="start_time">Start Time</label>
	<div class="controls">
		<input name="start_time" id="start_time" value="{{ start_time }}" type="text" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="end_date">End Date</label>
	<div class="controls">
		<input name="end_date" id="end_date" value="{{ end_date }}" type="text" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="end_time">End Time</label>
	<div class="controls">
		<input name="end_time" id="end_time" value="{{ end_time }}" type="text" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="typekey">Type</label>
	<div class="controls">
		<select id="typekey" name="typekey">{{ types|raw }}</select>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="location">Location</label>
	<div class="controls">
		<input name="location" id="location" value="{{ location }}" type="text" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="location_address">Location Address</label>
	<div class="controls">
		<textarea style="height: 109px;width:687px;" id="location_address" name="location_address">{{ location_address }}</textarea>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="desc">Description</label>
	<div class="controls">
		<textarea id="desc" name="description">{{ description }}</textarea>
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<input type="submit" value="Submit" class="btn" />
	</div>
</div>

</form>

<script type="text/javascript">
	CKEDITOR.config.contentsCss = "{{ CSS_ROOT }}main.css";
	CKEDITOR.config.width = "700px"
	CKEDITOR.config.keystrokes = 
	[
		[ CKEDITOR.CTRL + 83 /*S*/, 'save' ] //save for the win!
	]
	CKEDITOR.replace( 'desc' );
</script>

{% endblock %}